@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Roles";
}

<h1>Roles</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="home">
            <th>Id</th>
            <th>Roles</th>
            <th>Users</th>
        </tr>
    </thead>
    <tbody>
@foreach (var role in Model) {
        <tr>
            <td>@role.Id</td>
            <td>@role.Name</td>
            <td>Users for this role</td>
            <td>
                <a asp-action="Edit" asp-route-id="@role.Id">Edit</a>
                <a class="confirm-deletion" asp-action="Delete" asp-route-id="@role.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>